<app-header [pageTitle]="titlePage"></app-header>
<div>

    <table id="componenet" *ngIf="prod" class="table table-striped">
        
        <tbody>
            <tr>
                <td class="prop">ID</td>
                <td><input class="id" [(ngModel)]="prod.id" type="number"  disabled></td>
                
            </tr>
            <tr>
                <td class="prop">PartNbr</td>
    <td><input [(ngModel)]="prod.partNbr"></td>
   </tr>
   
    <tr>
    <td class="prop">Name</td>
    <td><input [(ngModel)]="prod.name" ></td>
   </tr>
   
    <tr>
    <td class="prop">Price</td>
    <td><input [(ngModel)]="prod.price" type="number"></td>
   </tr>
    
    <tr>
        <td class="prop">Unit</td>
        <td><input class="phone"[(ngModel)]="prod.unit" ></td>
    </tr>
    
    <tr>
        <td class="prop">Photopath</td>
        <td><input class="email" [(ngModel)]="prod.photopath"></td>
   </tr>
    
    <tr>

        <td class="prop">Vendor</td>
        <td class="email">
        
            <select [(ngModel)]="prod.vendorId">
            <label>{{prod.vendor.name}}</label>
            <option *ngFor="let v of vends" value="{{v.id}}">{{v.name}}</option>
           
            </select>
    </td>
    </tr>
        

</tbody>

<button class="btn btn-success"(click)="save()" style="margin-left:5%;">Save</button>
</table>

</div>
<app-footer></app-footer>
