<div id="component">
    <div>
        <app-head [pageTitle]="pageTitle"></app-head>
    </div>

    <main id="main">
        <table class="table table-striped table-sm" id="request">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Rejection Reason</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody *ngIf="req">
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{req.description}}</td>
                    <td>{{req.rejectionReason}}</td>
                    <td>{{req.status}}</td>
                    <td>{{req.total |currency}}</td>
                    <td>{{req.user.username}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-sm" id="requestlines">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody *ngIf="reqlns">
                <tr *ngFor="let rq of reqlns">
                    <td>{{rq.id}}</td>
                    <td>{{rq.product.name}}</td>
                    <td>{{rq.product.price |currency}}</td>
                    <td>{{rq.quantity}}</td>
                    <td>{{rq.quantity * rq.product.price |currency}}</td>
                </tr>
            </tbody>

        </table>
    </main>
    <button (click)="approveRequest()" class="btn btn-success">Approve</button> |
    <button (click)="toggleRejectionReason()" class="btn btn-danger">Reject</button> |
    <span *ngIf="rejectionReason">
        <input [(ngModel)]="req.rejectionReason" type="text" size="50"> |
        <button (click)="rejectRequest()" class="btn btn-danger">Confirm</button>
    </span>

    <div>
        <app-foot></app-foot>
    </div>
</div>