<app-menu></app-menu>
<h5>{{pageTitle}}</h5>
<div>
    <span>
        <a routerLink="/products/create">Create New Product</a> |
        <input id="search" [(ngModel)]="searchCriteria" placeholder="Part Number or Name" maxlength="35" class="noborder">
    </span>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Part Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit Count</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">

                <td>{{p.id}}</td>
                <td>{{p.partNbr}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>{{p.unit}}</td>
                <td>{{p.vendor.name}}</td>
                <td>
                    <a routerLink="/products/detail/{{p.id}}">Detail</a> |
                    <a routerLink="/products/change/{{p.id}}">Change</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>