<div id="component">
    <div>
        <app-head [pageTitle]="pageTitle"></app-head>
    </div>

    <main id="main">
        <a routerLink="/product/create">Create New</a>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Part Number</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Vendor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="prods">
                <tr *ngFor="let p of prods">
                    <td>{{p.id}}</td>
                    <td>{{p.partNbr}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price | currency}}</td>
                    <td>{{p.unit}}</td>
                    <td>{{p.vendor.name}}</td>
                    <td>
                        <a routerLink="/product/detail/{{p.id}}">Detail</a> |
                        <a routerLink="/product/change/{{p.id}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <div>
        <app-foot></app-foot>
    </div>