<div id="component">
    <prs-head [pageTitle]="pageTitle"></prs-head>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Rejection Reason</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="req">
                    <td>{{req.id}}</td>
                    <td>{{req.description}}</td>
                    <td>{{req.rejectionReason}}</td>
                    <td>{{req.status}}</td>
                    <td>{{req.total|currency}}</td>
                    <td>{{req.user.username}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>
        <div id="reqlinetable">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Line Total</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="req">
                        <tr *ngFor="let rql of req.requestLines">
                            <td>{{rql.id}}</td>
                            <td>{{rql.product.name}}</td>
                            <td>{{rql.product.price|currency}}</td>
                            <td>{{rql.quantity}}</td>
                            <td>{{rql.quantity*rql.product.price|currency}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    <div>
        <span><button id="approveBtn" class="btn btn-link">Approve</button></span> | 
        <span><button id="rejectBtn" class="btn btn-link">Reject</button></span>
    </div>
</div>





