<div id="component">
    <div>
        <app-head [pageTitle]="pageTitle"></app-head>
    </div>

    <main id="main">
        <table class="table  table-sm" *ngIf="req">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="req.id" type="number" disabled></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input [(ngModel)]="req.description" type="text"></td>
                </tr>
                <tr>
                    <td>Justification</td>
                    <td><input [(ngModel)]="req.justification" type="text"></td>
                </tr>
                <tr>
                    <td>Rejection Reason</td>
                    <td><input [(ngModel)]="req.rejectionReason" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Delivery Mode</td>
                    <td><input [(ngModel)]="req.deliveryMode" type="text"></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><input [(ngModel)]="req.status" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><input [(ngModel)]="req.total" type="number" disabled></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input value="{{user.username}}" type="text" disabled></td>
                </tr>
               
            </tbody>
        </table>
        <button (click)="save()" class="btn btn-primary">Create Request</button>
        </main>

    <div>
        <app-foot></app-foot>
    </div>
</div>