li {
    display:inline-block
}

nav {
    background-color: 
}

a {
    color: 
    text-decoration: none;
    padding: 0 10px;
}

a:hover {
    color: 
    background-color: 
    
}

ul {
    padding-left: 10px;
}
