<div id="component">
    <div>
        <app-head [pageTitle]="pageTitle"></app-head>
    </div>

    <main id="main">
        <table class="table  table-sm" *ngIf="req">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="req.id" type="number" disabled></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input [(ngModel)]="req.description" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Justification</td>
                    <td><input [(ngModel)]="req.justification" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Delivery Mode</td>
                    <td><input [(ngModel)]="req.deliveryMode" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td><input [(ngModel)]="req.status" type="text" disabled></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><input [(ngModel)]="req.total" type="number" disabled></td>
                </tr>
                <tr>
                    <td>User</td>
                    <td><input [(ngModel)]="req.user.username" type="text" disabled></td>
                </tr>
               
            </tbody>
        </table>
        <button (click)="toRequestChangePage()" class="btn btn-primary">Edit</button> |
        <button (click)="toggleVerifyButton()" class="btn btn-danger">Delete</button> |
            <button (click)="remove()" class="{{verifyButtonColor}}" [disabled]="showVerifyButton">Verify Delete</button>
    </main>

    <div>
        <app-foot></app-foot>
    </div>
</div>

