<app-menu></app-menu>
<h5>{{pageTitle}}</h5>
<div>
    <a routerLink="/users/create">Create New User</a> |
    <input id="search" [(ngModel)]="searchCriteria" placeholder="Name or email" class="noborder" maxlength="40">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th><button (click)="sortBy('id')" class="btn btn-link">Id</button></th>
                <th><button (click)="sortBy('username')" class="btn btn-link">Username</button></th>
                <th><button (click)="sortBy('lastname')" class="btn btn-link">Name</button></th>
                <th><button (click)="sortBy('phone')" class="btn btn-link">Phone</button></th>
                <th><button (click)="sortBy('email')" class="btn btn-link">Email</button></th>
                <th><button (click)="sortBy('isReviewer')" class="btn btn-link">Reviewer</button></th>
                <th><button (click)="sortBy('isAdmin')" class="btn btn-link">Admin</button></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users | search:searchCriteria | sort:sortColumn:sortAsc ">
                <td>{{u.id}}</td>
                <td>{{u.username}}</td>
                <td>{{u.lastname}}, {{u.firstname}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.isReviewer | bool}}</td>
                <td>{{u.isAdmin | bool}}</td>
                <td> 
                    <a routerLink="/users/detail/{{u.id}}">Detail</a> | <a routerLink="/users/change/{{u.id}}">Change</a> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
