<div id="Component">
    <app-header [pageTitle]="pageTitle"></app-header>
    <button class="btn btn-secondary create" routerLink="/Users/create">Create</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>phone</th>
                <th>Email</th>
                <th>Reviewer</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{u.id}}</td>
                <td style="text-transform: capitalize">{{u.username}}</td>
                <td style="text-transform: capitalize">{{u.firstname}}</td>
                <td style="text-transform: capitalize">{{u.lastname}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.email}}</td>
                <td>{{u.isReviewer | bool}}</td>
                <td>{{u.isAdmin | bool}}</td>
                <td><a routerLink="/Users/detail/{{u.id}}">Detail</a> | <a routerLink="/Users/change/{{u.id}}">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <app-footer></app-footer>
    </div>
