<app-header [pageTitle]="Pagetitle"></app-header>
<main>
<table *ngIf="reql">

    <tr>
        <td>Id</td>
        <td><input [(ngModel)]="reql.id" disabled></td>
    </tr>
    <tr>
        <td>Product</td>
        <select [(ngModel)]="reql.productId">
            <label></label>
            <option *ngFor="let p of prods" value="{{p.id}}">{{p.name}}</option>
            
        </select>
    </tr>
    <tr>
        <td>Quantity</td>
        <td><input [(ngModel)]="reql.quantity" type="number"></td>
    </tr>
    
</table>

<button class="btn btn-success"(click)="save()">Save</button>


</main>
<app-footer></app-footer>