li { 
    display: inline-block;  
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a{ 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 0 20px; 
    
}
a:hover{ 
    color: rgb(3, 150, 150); 
    
    
}