<app-header [pageTitle]="pageTitle"></app-header>
<button class="btn btn-secondary create" routerLink="/Requests/create">Create</button>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th>Rejection Reason</th>
        <th>Delivery Mode</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody *ngFor="let r of reqs">
<tr>
    <td>{{r.id}}</td>
    <td>{{r.description}}</td>
    <td>{{r.justification}}</td>
    <td>{{r.rejectionReason}}</td>
    <td>{{r.deliveryMode}}</td>
    <td>{{r.status}}</td>
    <td>{{r.total}}</td>
    <td>{{r.user.username}}</td>
    <td><a routerLink="/Requests/detail/{{r.id}}">Detail</a> | <a routerLink="/Requests/change/{{r.id}}">Edit</a> | <a routerLink="/Requests/lines/{{r.id}}">Lines</a></td>
</tr>

</tbody>
</table>
<app-footer></app-footer>