<app-header [pageTitle]="pageTitle"></app-header>
<table id="Request" class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Description</th>
        <th>Rejection Reason</th>
        <th>Status</th>
        <th>Total</th>
        <th>Username</th>
        <th>Actions</th>
    </thead>
    <tbody *ngIf="req">
        <tr>
            <td>{{req.id}}</td>
            <td>{{req.description}}</td>
            <td>{{req.rejectionReason}}</td>
            <td>{{req.status}}</td>
            <td>{{req.total}}</td>
            <td>{{req.user.username}}</td>
            <td><a routerLink="/Requests/lines/{{req.id}}" (click)="clearReject()">Submit For Review</a></td>
        </tr>
    </tbody>
</table>
<button *ngIf="req" class="btn btn-secondary" routerLink="/Requests/lines/create/{{req.id}}">Create</button>
<table id="Request Lines" class="table table-striped">

<thead>
    <th>Request Line Id</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Request Line Quantity</th>
    <th>Request Line Total</th> 
    <th>Actions</th> 

</thead>
<tbody *ngFor="let rl of reqlines">
    <tr *ngIf="rl.requestId == req.id">
        <td>{{rl.id}}</td>
        <td>{{rl.product.name}}</td>
        <td>{{rl.product.price}}</td>
        <td>{{rl.quantity}}</td>
        <td>{{rl.product.price * rl.quantity}}</td>
        <td><a routerLink="/requestline/change/{{rl.id}}">Edit</a> | <a routerLink="/requestline/{{req.id}}" (click)="delete(rl.id)">Delete</a></td>
    </tr>
</tbody>

</table>

<app-footer></app-footer>
