<div id="component">
    <app-header [pageTitle]="titlePage"></app-header> 
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Rejection Reason</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>User</th>
                    <th class="text-center">Request Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="req">
                    <td>{{req.id}}</td>
                    <td>{{req.description}}</td>
                    <td>{{req.rejectionReason}}</td>
                    <td>{{req.status}}</td>
                    <td>{{req.total|currency}}</td>
                    <td>{{req.user.username}}</td>
                    <td class="text-center">
                        <button (click)="submitReview()" id="actionsBtn" class="btn btn-link">Submit for Review</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>
        <div id="reqlinetable">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Line Total</th>
                        <th class="text-center">Request Line Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="req">
                        <tr *ngFor="let rql of req.requestlines">
                            <td>{{rql.id}}</td>
                            <td>{{rql.product.name}}</td>
                            <td>{{rql.product.price|currency}}</td>
                            <td>{{rql.quantity}}</td>
                            <td>{{rql.quantity*rql.product.price|currency}}</td>
                            <td class="text-center">
                                <button id="actionsBtn" class="btn btn-link" routerLink="/requestline/change/{{rql.id}}">Edit</button> &nbsp;|&nbsp;
                                <button (click)="reqlnDelete(rql.id)" id="actionsBtn" class="btn btn-link">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    <div id="cnBtn" *ngIf="req">
        <span><a id="createnew" routerLink="/requestline/create/{{req.id}}">-> New Request Line <-</a></span>
    </div>
</div>

<app-footer></app-footer>




