
<app-header [pageTitle]="titlePage"></app-header>
<main>

    <table *ngIf="req" class="table table-striped">
        
    <tbody>
        <tr>
            <td class="prop">Id</td>
            <td><input class="id" [(ngModel)]="req.id" type="number"  disabled></td>
            
        </tr>
        <tr>
            <td class="prop">Description</td>
<td><input [(ngModel)]="req.description" ></td>
</tr>

<tr>
<td class="prop">Justification</td>
<td><input [(ngModel)]="req.justification" ></td>
</tr>


<tr>
    <td class="prop">Delivery Mode</td>
    <td><input [(ngModel)]="req.deliveryMode" ></td>
</tr>

<tr>
    <td class="prop">Status</td>
    <td><input [(ngModel)]="req.status" disabled ></td>
</tr>

<tr>
    <td class="prop">Total</td>
    <td><input [(ngModel)]="req.total" disabled ></td>
</tr>
<tr>
    <td class="prop">User</td>
    <td><input [(ngModel)]="req.user.username" disabled></td>
</tr>


</tbody>


</table>
<button class="btn btn-secondary" style="margin-left:5%;" (click)="save()">Save Changes</button>

</main>
<app-footer></app-footer>
