<main>
    <table class="table table-striped">
        <th>
            <span class="title" id="page-title">Login</span>
        </th>
        <tr>

            
            <input class="input" style="border: 20px; font-size: large;"[(ngModel)]="email" placeholder="Username">
            <input class="input" [(ngModel)]="password" placeholder="Password" type="password">
            
        
        </tr>
        <button class="btn btn-primary" style="margin-left: 10.5%; margin-top: 2%; width: 220px;" (click)="login()">Login</button>
    </table>
    
   <app-footer></app-footer>
</main>