<div class="mx-auto">
    <table>
        <tbody>
            <tr>
                <td>Username:</td>
                <td><input [(ngModel)]="username" type="text"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input [(ngModel)]="password" type="password"></td>
            </tr>
            <tr>
                <td>
                    <button (click)="login()" class="btn btn-primary">Login</button>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="text-danger font-italic">{{message}}</span>
</div>