.title{
    font-size: 45px;
    font-family: 'Arial', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px rgb(184, 175, 175);
    margin-left: 12%;
    margin-top: 10%;
}

.input{
    border: 20px lightgray;
    font-size: large;
    width: 120 px;
    border-radius: 20px;
    background-color: rgb(200, 203, 206);
    color: rgb(0, 0, 0);
    text-align: center;
    
}

table{
    margin-left: 35%;
    margin-top: 15%;
    column-gap: 15px;
}

input:focus{
    background-color: rgb(255, 255, 255);
}
